#game-board {
  margin: 80px auto;
}
.gameCell {
  border: 1px solid #81c4ea;
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 42px;
  cursor: pointer;

  &.disabled {
    cursor: default;
  }
}

#game-ended {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-over {
  font-size: 24px;
  text-align: center;
}

#new-game-button {
  border-radius: 20px;
  border: 1px solid #81c4ea;
  padding: 5px;
  background-color: #b1dcf5;
  outline: 0;
  cursor: pointer;
  width: 150px;
}
